body {
    color: #000080;             
background-color: #FFD700;
font-size: 18px;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  text-align: center;
}
* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
    /* ... */
    display: flex;
    justify-content: center;    /* Add this */
  }

.menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-around;
}
.links {
  border: 1px solid #fff;  /* For debugging */
  display: flex;
  justify-content: flex-end;
}
.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;  /* Add this */
}
.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;    /* Change this */
  flex-wrap: wrap;
  align-items: center;      /* Add this */

}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}
.footer {
  display: flex;
  justify-content: left;
  align-items: center;      /* Add this */
}
.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
  align-items: center;      /* Add this */

}

