body {
    color: #000080;             
background-color: #FFD700;
font-size: 18px;
font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  text-align: center;
}
* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}
.links {
  border: 1px solid #fff;  /* For debugging */
  display: flex;
  justify-content: flex-end;
}
.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;  /* Add this */
}
.bordered-image {
  border: 2px solid #333; /* border width, style, and color */
  border-radius: 8px; /* border corner radius */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* optional: add a shadow effect */
}
.image-container {
  text-align: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}
.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;    /* Change this */
  flex-wrap: wrap;
}
.photo-grid-item {
  border: 2px solid #fff;
  width: 300px;
  height: 300px;
}
img {
  max-width: 100%; /* Set the maximum width */
  height: auto; /* Maintain aspect ratio */
}
.footer {
  display: flex;
  justify-content: left;
  align-items: center;      /* Add this */
}
.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
  align-items: center;      /* Add this */

}

